DEV:
  DEBUG: true
  LOG_LEVEL: "DEBUG"
  XSRF: false
  STATIC_HASH_CACHE: false
  COMPRESS_RESPONSE: false
  STATIC_PATH: "assets"
  STATIC_URL_PREFIX: "/statics/"
  SESSION_ENGINE: "REDIS"
  SESSION_DRIVERS:
    REDIS:
      HOST: "localhost"
      PORT: 6379
      DB: 0
    MEMCACHE:
      HOST: "localhost"
      PORT: "11211"
