ENV_NAME=DEV
STATIC_PATH="assets"
STATIC_URL_PREFIX="/statics"
MONGO_URI="mongodb://localhost:27017"
SESSION_ENGINE="redis"
SESSION_REDIS_HOST="localhost"
SESSION_REDIS_PORT=6379
SESSION_REDIS_DB=0
SESSION_MEMCACHE_HOST="localhost"
SESSION_MEMCACHE_PORT=11211
